DATABASE_URL='postgresql://neondb_owner:npg_tQ1Lsq2uUXAh@ep-nameless-scene-adqiyd9w-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

SECRET_KEY='SECRET_KEY_1234'
